@using Azure;
@using DocumentFormat.OpenXml.Spreadsheet;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using PagedList.Core.Mvc
@using X.PagedList.Mvc.Core;
@model PagedList.Core.IPagedList<Client_Home.Models.Product>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "" + CurrentPage;
    
}


@section styles{
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

}

<!-- Page Preloder -->
<!-- Humberger Begin -->

<!-- Humberger End -->
<!-- Header Section Begin -->
<!-- Header Section End -->
<!-- Hero Section Begin -->

<!-- Hero Section End -->
<!-- Categories Section Begin -->

<!-- Categories Section End -->
<!-- Featured Section Begin -->
<header class="header-wrapper header-layout7">
    <div class="header-top">
        <div class="header-top-shape"></div>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto col-xxl-3 d-none d-lg-block" style="display:flex">
                    <a href="login-register.html" class="header-login"><i class="fas fa-user-circle"></i> </a>
                    <partial name="_loginPartial" />

                </div>

                <div class="col-lg-auto col-xxl text-center text-lg-end py-2 py-lg-0">
                    <div class="header-infos">
                        <p class="info"><i class="fas fa-phone-alt"></i>Phone:<a href="tel:02073885619">020 7388 5619</a></p>
                        <p class="info d-none d-sm-inline-block"><i class="fas fa-envelope"></i>Email:<a href="mailto:info@username.com.uk">info@username.com.uk</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="header-shape" data-bg-src="assets/img/shape/header-shape-9-1.png"></div>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col col-lg-auto py-3 py-lg-0">
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/img/logo-white.svg" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-auto">
                    <nav class="main-menu mobile-menu-active menu-style4">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home Style 1</a></li>
                                    <li><a href="index-2.html">Home Style 2</a></li>
                                    <li><a href="index-3.html">Home Style 3</a></li>
                                    <li><a href="index-4.html">Home Style 4</a></li>
                                    <li><a href="index-5.html">Home Style 5</a></li>
                                    <li><a href="index-6.html">Home Style 6</a></li>
                                    <li><a href="index-7.html">Home Style 7</a></li>
                                    <li><a href="index-8.html">Home Style 8</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/Products">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="/home/shop">Shop</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Check Out</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="login-register.html">Login & Register</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-wrap menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="mega-menu">
                                    <li>
                                        <a href="shop.html">Pagelist 1</a>
                                        <ul>
                                            <li><a href="index.html">Home Style 1</a></li>
                                            <li><a href="index-2.html">Home Style 2</a></li>
                                            <li><a href="index-3.html">Home Style 3</a></li>
                                            <li><a href="index-4.html">Home Style 4</a></li>
                                            <li><a href="index-5.html">Home Style 5</a></li>
                                            <li><a href="index-6.html">Home Style 6</a></li>
                                            <li><a href="index-7.html">Home Style 7</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 2</a>
                                        <ul>
                                            <li><a href="index-8.html">Home Style 8</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="service.html">Services</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="faq.html">FAQ Page</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 3</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 4</a>
                                        <ul>
                                            <li><a href="/home/shop">Shop</a></li>
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="shop-details.html">Shop Details</a></li>
                                            <li><a href="cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Check Out</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="login-register.html">Login / Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto d-none d-sm-block">
                    <div class="header-buttons">
                        <button type="button" class="searchBoxTggler"><i class="far fa-search"></i></button>
                        <a href="wishlist.html"><i class="fal fa-heart"></i></a>
                        <button class="sideMenuToggler has-badge" type="button"><i class="fal fa-shopping-cart"></i><span class="badge">
                            @await Component.InvokeAsync("CartWidget")
                        </span></button>
                    </div>
                </div>
                <div class="col-auto d-block d-lg-none">
                    <button type="button" class="vs-menu-toggle "><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="sticky-header-wrap sticky-header py-2 py-lg-1">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-5 col-md-3">
                <div class="logo">
                    <a href="index.html"><img src="assets/img/logo.svg" alt="Foodano"></a>
                </div>
            </div>
            <div class="col-7 col-md-9 text-end position-static">
                <nav class="main-menu menu-sticky1 d-none d-lg-block link-inherit">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home Style 1</a></li>
                                <li><a href="index-2.html">Home Style 2</a></li>
                                <li><a href="index-3.html">Home Style 3</a></li>
                                <li><a href="index-4.html">Home Style 4</a></li>
                                <li><a href="index-5.html">Home Style 5</a></li>
                                <li><a href="index-6.html">Home Style 6</a></li>
                                <li><a href="index-7.html">Home Style 7</a></li>
                                <li><a href="index-8.html">Home Style 8</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="/home/shop">Shop</a></li>
                                <li><a href="shop-list.html">Shop List</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Check Out</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="login-register.html">Login & Register</a></li>
                                <partial name="_loginPartial" />
                            </ul>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="blog.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-list.html">Blog List</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-wrap menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul class="mega-menu">
                                <li>
                                    <a href="shop.html">Pagelist 1</a>
                                    <ul>
                                        <li><a href="index.html">Home Style 1</a></li>
                                        <li><a href="index-2.html">Home Style 2</a></li>
                                        <li><a href="index-3.html">Home Style 3</a></li>
                                        <li><a href="index-4.html">Home Style 4</a></li>
                                        <li><a href="index-5.html">Home Style 5</a></li>
                                        <li><a href="index-6.html">Home Style 6</a></li>
                                        <li><a href="index-7.html">Home Style 7</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pagelist 2</a>
                                    <ul>
                                        <li><a href="index-8.html">Home Style 8</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="faq.html">FAQ Page</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pagelist 3</a>
                                    <ul>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pagelist 4</a>
                                    <ul>
                                        <li><a href="/home/shop">Shop</a></li>
                                        <li><a href="shop-list.html">Shop List</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Check Out</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="login-register.html">Login / Register</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
            </div>
        </div>
    </div>
</div>

<section class="featured spad">
    <div class="container">

        <section class=" vs-shop-wrapper  space-top space-md-bottom">
            <div class="section-title text-center">
                <div class="sec-icon"><img src="assets/img/icons/sec-icon-2.png" alt="icon"></div>
          
                <span class="sub-title4">Category Products</span>
                <h2 class="sec-title3">Shop By Categories</h2>
            </div>
            <div class="container">
                <div class="tab-pane fade show active" id="tab-grid" role="tabpanel" aria-labelledby="tab-shop-grid">
                    <div class="row">
                        @if (Model != null)
                        {

                            @foreach (var item in Model)
                            {
                                <div class="col-sm-6 col-xl-4">
                                    <div class="vs-product-box1 thumb_swap">
                                        <div class="product-tag1">sale</div>
                                        <div class="product-img">
                                            <a href="shop-details.html"><img src="assets/img/shop/product-1-1.png" alt="Product Image" class="w-100"></a>
                                            <a href="shop-details.html"><img src="assets/img/shop/product-1-8.png" alt="Product Image" class="w-100 img_swap"></a>
                                        </div>
                                        <div class="product-content">
                                            <div class="actions-btn">
                                                <a id="checkout" onclick="checkout(@Html.DisplayFor(modelItem => item.TotalQuantity),@Html.DisplayFor(modelItem => item.ProductId))" href="#"><i class="fal fa-cart-plus"></i></a>
                                                <a href="assets/img/shop/product-1-1.png" class="popup-image"><i class="far fa-search"></i></a>
                                                <a href="wishlist.html"><i class="fal fa-heart"></i></a>
                                            </div>
                                            <h4 class="product-title h5 mb-0"><a href="/Products/Details/@Html.DisplayFor(modelItem => item.ProductId)"> @item.Name</a></h4>
                                            <span class="price font-theme"><strong>$@Html.DisplayFor(modelItem => item.SellPrice)</strong></span>                                           
                                            <p class="m-0 rating fs-xs text-theme lh-base">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        <div aria-label="Page navigation example" class="pagination-layout1 list-style-none mt-0 mt-lg-4 mb-30" style="display:flex; justify-content:center">
                            <ul class="pagination">
                                <pager class="page-container" list="@Model" asp-action="Index"></pager>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->

<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<body class=" ">


    <!--[if lte IE 9]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--********************************
        Code Start From Here
    ******************************** -->
    <!--==============================
       Preloader
    ==============================-->
    <div class="preloader  ">
        <button class="vs-btn preloaderCls">Cancel Preloader </button>
        <div class="preloader-inner">
            <div class="loader-logo">
                <img src="assets/img/logo.svg" alt="Foodano">
            </div>
            <div class="loader-wrap pt-4">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    <!--==============================
        Header Top
    ==============================-->
    <!--========================
        Sticky Header
    ========================-->
    <div class="sticky-header-wrap sticky-header py-2 py-lg-1">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-5 col-md-3">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/logo.svg" alt="Foodano"></a>
                    </div>
                </div>
                <div class="col-7 col-md-9 text-end position-static">
                    <nav class="main-menu menu-sticky1 d-none d-lg-block link-inherit">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home Style 1</a></li>
                                    <li><a href="index-2.html">Home Style 2</a></li>
                                    <li><a href="index-3.html">Home Style 3</a></li>
                                    <li><a href="index-4.html">Home Style 4</a></li>
                                    <li><a href="index-5.html">Home Style 5</a></li>
                                    <li><a href="index-6.html">Home Style 6</a></li>
                                    <li><a href="index-7.html">Home Style 7</a></li>
                                    <li><a href="index-8.html">Home Style 8</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-list.html">Shop List</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Check Out</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="login-register.html">Login & Register</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-wrap menu-item-has-children">
                                <a href="#">Pages</a>
                                <ul class="mega-menu">
                                    <li>
                                        <a href="shop.html">Pagelist 1</a>
                                        <ul>
                                            <li><a href="index.html">Home Style 1</a></li>
                                            <li><a href="index-2.html">Home Style 2</a></li>
                                            <li><a href="index-3.html">Home Style 3</a></li>
                                            <li><a href="index-4.html">Home Style 4</a></li>
                                            <li><a href="index-5.html">Home Style 5</a></li>
                                            <li><a href="index-6.html">Home Style 6</a></li>
                                            <li><a href="index-7.html">Home Style 7</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 2</a>
                                        <ul>
                                            <li><a href="index-8.html">Home Style 8</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="service.html">Services</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="faq.html">FAQ Page</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 3</a>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                            <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pagelist 4</a>
                                        <ul>
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-list.html">Shop List</a></li>
                                            <li><a href="shop-details.html">Shop Details</a></li>
                                            <li><a href="cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Check Out</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="login-register.html">Login / Register</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
      Mobile Menu
    ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="index.html"><img src="assets/img/logo.svg" alt="Foodano"></a>
            </div>
            <div class="vs-mobile-menu link-inherit"></div><!-- Menu Will Append With Javascript -->
        </div>
    </div>
    <!--==============================
        Sidemenu
    ============================== -->
    <div class="sidemenu-wrapper d-none d-lg-block  ">
        <div class="sidemenu-content">
            <button class="closeButton border-theme text-theme bg-theme-hover sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget widget_shopping_cart">
                <h3 class="widget_title">Shopping cart</h3>
                <div class="widget_shopping_cart_content">
                    <ul class="cart_list ">
                        <li class="mini_cart_item">
                            <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a>
                            <a href="shop.html"><img src="assets/img/cart/cart-img-1-1.jpg" alt="Cart Image">Hot Burger</a>
                            <span class="quantity">
                                1 ×
                                <span class="amount">
                                    <span>$</span>40.00
                                </span>
                            </span>
                        </li>
                        <li class="mini_cart_item">
                            <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a>
                            <a href="shop.html"><img src="assets/img/cart/cart-img-1-2.jpg" alt="Cart Image">Vegetable</a>
                            <span class="quantity">
                                1 ×
                                <span class="amount">
                                    <span>$</span>99.00
                                </span>
                            </span>
                        </li>

                        <li class="mini_cart_item">
                            <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a>
                            <a href="shop.html"><img src="assets/img/cart/cart-img-1-3.jpg" alt="Cart Image">Pop Pizza</a>
                            <span class="quantity">
                                1 ×
                                <span class="amount">
                                    <span>$</span>56.00
                                </span>
                            </span>
                        </li>
                        <li class="mini_cart_item">
                            <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a>
                            <a href="shop.html"><img src="assets/img/cart/cart-img-1-4.jpg" alt="Cart Image">Onion & Tomato</a>
                            <span class="quantity">
                                1 ×
                                <span class="amount">
                                    <span>$</span>23.00
                                </span>
                            </span>
                        </li>
                        <li class="mini_cart_item">
                            <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a>
                            <a href="shop.html"><img src="assets/img/cart/cart-img-1-5.jpg" alt="Cart Image">Cool Drinks</a>
                            <span class="quantity">
                                1 ×
                                <span class="amount">
                                    <span>$</span>100.00
                                </span>
                            </span>
                        </li>
                    </ul>
                    <p class="total">
                        <strong>Subtotal:</strong>
                        <span class="amount">
                            <span>$</span>318.00
                        </span>
                    </p>
                    <p class="buttons">
                        <a href="cart.html" class="vs-btn">View cart</a>
                        <a href="checkout.html" class="vs-btn">Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
    
    <!--==============================
        Breadcumb
    ============================== -->
  
    <!--==============================
    Feature Products
    ==============================-->

</body>
<!-- Blog Section End -->
<!-- Footer Section Begin -->
@section Scripts{
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

}
<script >
    // Lấy thẻ <a> bằng ID
    function checkout(id,link) { 
        // Hiển thị thông báo khi người dùng nhấp vào liên kết
        const total = id
        if (total > 0) {            
            window.location.href = 'https://localhost:44322/Cart/AddToCart/?productId=' + encodeURIComponent(link);
         
        }else {
            Swal.fire({
                icon: "warning", // success, error, warning, info, question
                title: 'Thông báo',
                text: 'Sản phẩm này đã hết! Vui lòng chọn sản phẩm khác!',
                timer: 3000,
            });
        }
        
    };
</script>