@model Client_Home.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<link href="assets/css/app.min.css" rel="stylesheet">
<div class="main-content">
    <form>
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                        <img src="assets/images/others/thumb-16.jpg" alt="">
                    </div>
                    <div class="m-l-15">
                        <h4 class="m-b-0">Skinny Men Blazer</h4>
                        <p class="text-muted m-b-0">Code: #5325</p>
                    </div>
                </div>
                <div class="m-b-15">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Save</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
                </li>
            </ul>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-edit-basic">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productName">Product Name</label>
                            <input type="text" class="form-control" id="productName" placeholder="Product Name">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productID">Product ID</label>
                            <input type="text" class="form-control" id="productID" placeholder="Product ID">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productPrice">Price</label>
                            <input type="text" class="form-control" id="productPrice" placeholder="Price" value="$ 199">
                        </div>

                        <div class="form-group">
                            <label class="font-weight-semibold" for="productTotalQty">Total Quantity</label>
                            <input type="text" class="form-control" id="productTotalQty" placeholder="0">
                        </div>


                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Category</label>
                            <select class="custom-select" id="productCategory">
                                <option value="cloths" selected>Cloths</option>
                                <option value="homeDecoration">Home Decoration</option>
                                <option value="eletronic">Eletronic</option>
                                <option value="jewellery">Jewellery</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productBrand">Supplier</label>
                            <select class="custom-select" id="productBrand">
                                <option value="inStock" selected>Phenazopyridine Hydrochloride</option>
                                <option value="outOfStock">Cefdinir</option>
                                <option value="pending">Childrens Pain and Fever</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="font-weight-semibold" for="productStatus">Status</label>
                            <select class="custom-select" id="productStatus">
                                <option value="inStock" selected>In Stock</option>
                                <option value="outOfStock">Out of Stock</option>
                                <option value="pending">Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade" id="product-edit-option">
                <div class="card">
                    <div class="card-body">
                        @* Up load file*@
                        <div class="form-group">
                        <label class="font-weight-semibold" for="productColors">Thumnail</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        </div>

                        <div class="form-group">
                        <label class="font-weight-semibold" for="productColors">Video Illustration</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        </div>


                        <div class="form-group">
                            <label class="font-weight-semibold" for="percentDiscount">Discount</label>
                            <input type="text" class="form-control" id="percentDiscount" placeholder="0">
                        </div>


                        <div class="form-group">
                            <label class="font-weight-semibold" for="priceDiscount">Discount Price</label>
                            <input type="text" class="form-control" id="priceDiscount" placeholder="0">
                        </div>


                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-edit-description">
                <div class="card">
                    <div class="card-body">
                        <div id="productDescription">
                            <p>Special cloth alert. The key to more success is to have a lot of pillows. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. They will try to close the door on you, just open it. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They key is to have every key, the key to open every door.The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. Lion! I’m up to something. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
