################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/Client_Home/Data/ConveniencestoreContext.cs
/client/Client_Home/bin/Debug/net7.0/appsettings.json
/client/Client_Home/Models/ConveniencestoreContext.cs
