################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/client/Client_Home/Data/ConveniencestoreContext.cs
/client/Client_Home/bin/Debug/net7.0/appsettings.json
/client/Client_Home/appsettings.json
/client/Client_Home/wwwroot/uploaded_doc/Employ.xlsx
/client/Client_Home/wwwroot/uploaded_doc/Cus.xlsx
/client/Client_Home/Models/ConveniencestoreContext.cs
/client/Client_Home/appsettings.json
/client/Client_Home/appsettings.Development.json
/client/Client_Home/.vs/Client_Home/DesignTimeBuild/.dtbcache.v2
/client/Client_Home/.vs/Client_Home/FileContentIndex/03f729ac-6ea5-4ecf-852a-b0e48110b191.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/2c95be8b-6cab-44a3-9417-89a5ee2b20c2.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/5b817cfd-2e08-4f45-922a-93eecd7857a7.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/8b7b7cf4-aca8-4476-9aae-7da911420c00.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/9d81bfbc-5fdf-4e3c-ba29-f5f57b63451a.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/be7e7585-54a8-455d-bb0e-950785352fe7.vsidx
/client/Client_Home/obj/Debug/net7.0/staticwebassets.build.json
/client/Client_Home/bin/Debug/net7.0/pt-BR/Hangfire.Core.resources.dll
/client/Client_Home/bin/Debug/net7.0/pt/Hangfire.Core.resources.dll
/client/Client_Home/bin/Debug/net7.0/pt-PT/Hangfire.Core.resources.dll
/client/Client_Home/bin/Debug/net7.0/sv/Hangfire.Core.resources.dll
/client/Client_Home/bin/Debug/net7.0/tr-TR/Hangfire.Core.resources.dll
/.gitignore
/client/Client_Home/bin/Debug/net7.0/zh/Hangfire.Core.resources.dll
/.gitignore
/.gitignore
/client/Client_Home/bin/Debug/net7.0/Client_Home.deps.json
/client/Client_Home/bin/Debug/net7.0/Client_Home.dll
/client/Client_Home/bin/Debug/net7.0/Client_Home.pdb
/client/Client_Home/bin/Debug/net7.0/Client_Home.staticwebassets.runtime.json
/client/Client_Home/bin/Debug/net7.0/Hangfire.AspNetCore.dll
/client/Client_Home/bin/Debug/net7.0/Hangfire.Core.dll
/client/Client_Home/bin/Debug/net7.0/Hangfire.NetCore.dll
/client/Client_Home/bin/Debug/net7.0/Hangfire.SqlServer.dll
/client/Client_Home/bin/Debug/net7.0/zh-TW/Hangfire.Core.resources.dll
/client/Client_Home/obj/Debug/net7.0/ref/Client_Home.dll
/client/Client_Home/wwwroot/assets/img/shop/sp-134
/client/Client_Home/.vs/Client_Home/FileContentIndex/2e3087d7-82f9-4832-b2ac-845a450f43c3.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/4de6b225-21b5-4f87-a05c-380b95fe7f9e.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/78f9435c-da73-4dde-a442-ebcab9cdb3a2.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/9048e7e3-2797-431f-9cc3-ead33c9d6cd8.vsidx
/client/Client_Home/.vs/Client_Home/FileContentIndex/a67bccdf-1915-4e59-8391-b9d4fb6f1fee.vsidx
/client/Client_Home/Areas/Admin/Views/AdminCategories/Details.cshtml
/client/Client_Home/Areas/Admin/Views/AdminCategories/Details.cshtml
/client/Client_Home/Areas/Admin/Views/AdminProductBatches/Details.cshtml
/client/Client_Home/Areas/Admin/Views/AdminSuppliers/Details.cshtml
/client/Client_Home/Areas/Admin/Views/AdminCustomers/Details.cshtml
/client/Client_Home/Areas/Admin/Views/AdminCategories/Edit.cshtml
