@* @model Client_Home.Models.Customer *@
@model Client_Home.Areas.Admin.DTO.Suppliers.AddSupplier

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<h1>Create</h1>

<h4>Supplier</h4>
<hr />
<link href="assets/css/app.min.css" rel="stylesheet">
<!-- page css -->
<link href="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- page js -->
<script src="~/adminassets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<div class="main-content">
    <form asp-action="Create">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    </div>
                    <div class="m-l-15">
                        <h4 class="m-b-0">Thông Tin Cơ Bản</h4>
                    </div>
                </div>
                <div class="m-b-15">
                    <button type="submit" class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label asp-for="SupplierName" class="control-label"></label>
                                    <input asp-for="SupplierName" type="text" pattern="[a-zA-ZÀ-Ỹà-ỹ\s0-9]+" class="form-control" />
                                    <span asp-validation-for="SupplierName" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="ContactName" class="control-label"></label>
                                    <input asp-for="ContactName" type="text" pattern="[a-zA-ZÀ-Ỹà-ỹ\s0-9]+" class="form-control" />
                                    <span asp-validation-for="ContactName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Country" class="control-label"></label>
                            <select asp-for="Country" class="custom-select">
                                <option value="Viet Nam" selected>Việt Nam</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label asp-for="City" class="control-label"></label>
                                    <select asp-for="City" class="custom-select" id="provinces">
                                        <option value=''>-----Chọn tỉnh , thành phố-----</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" pattern="[0-9]+" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PostalCode" class="control-label"></label>
                            <input asp-for="PostalCode" pattern="[0-9]+" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    const host = "https://provinces.open-api.vn/api/";
    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "provinces");
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');

    var renderData = (array, select) => {
        let row = ' <option disable value="">-----Chọn tỉnh , thành phố-----</option>';
        array.forEach(element => {
            row += `<option data-id="${element.code}" value="${element.name}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }
</script>
