<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Foodano - Organic Food Store HTML Template - Shop</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="Foodano - Organic Food Store HTML Template">
    <meta name="keywords" content="Foodano - Organic Food Store HTML Template" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
       Google Web Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300;400;500;600;700&family=Amatic+SC:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
        All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <!-- Flaticon -->
    <link rel="stylesheet" href="~/assets/css/flaticon.min.css">
    <!-- Layerslider -->
    <link rel="stylesheet" href="~/assets/css/layerslider.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/assets/css/jquery.datetimepicker.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="~/assets/css/slick.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>
    <div class="main-content">
        @RenderBody()
       
      
    </div>
</body>

<!--==============================
           Footer Area
   ==============================-->
<footer class="footer-wrapper footer-layout2" data-bg-src="assets/img/shape/footer-5-1.jpg">
    <div class="container">
        <div class="widget-area">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="widget  footer-widget">
                        <div class="footer-info-widget">
                            <div class="footer-info-logo">
                                <img src="assets/img/logo-white.svg" alt="Foodano">
                            </div>
                            <div class="footer-info">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:+387643932728">+387643932728</a>
                            </div>
                            <div class="footer-info">
                                <i class="fas fa-map-marker-alt"></i>
                                Harbour House, 60 Purewell, Christchurch, England
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget widget_nav_menu  footer-widget">
                        <h3 class="widget_title">Useful Links</h3>
                        <div class="menu-all-pages-container footer-links">
                            <ul class="menu">
                                <li><a href="#">Farm & Family</a></li>
                                <li><a href="#">Our Butchery</a></li>
                                <li><a href="#">Farm Shops</a></li>
                                <li><a href="#">Dartmoor Inn</a></li>
                                <li><a href="#">Market Garden</a></li>
                                <li><a href="#">Farm & Family</a></li>
                                <li><a href="#">Our Butchery</a></li>
                                <li><a href="#">Farm Shops</a></li>
                                <li><a href="#">Dartmoor Inn</a></li>
                                <li><a href="#">Market Garden</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Instagram Photos</h3>
                        <div class="sidebar-gallery">
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-1.jpg"><img src="assets/img/gallery/gal-2-1.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-2.jpg"><img src="assets/img/gallery/gal-2-2.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-3.jpg"><img src="assets/img/gallery/gal-2-3.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-4.jpg"><img src="assets/img/gallery/gal-2-4.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-5.jpg"><img src="assets/img/gallery/gal-2-5.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                            <div class="gallery-thumb">
                                <a class="popup-image" href="assets/img/gallery/gal-2-6.jpg"><img src="assets/img/gallery/gal-2-6.jpg" alt="Gallery Image" class="w-100"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area" data-bg-src="assets/img/shape/footer-5-2.png">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto text-center text-lg-start">
                    <div class="copyright">
                        <p class="mb-0 link-inherit">Copyright &copy; 2022 <a href="index.html">Foodano</a> - All Rights Reserved by <a href="https://themeforest.net/user/vecuro_themes">Vecuro</a></p>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="copyright-social">
                        <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
                        <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
                        <a href="#"><i class="fab fa-linkedin-in"></i>Linked In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Jquery -->
<script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Slick Slider -->
<script src="~/assets/js/slick.min.js"></script>
<!-- <script src="~/assets/js/app.min.js"></script> -->
<!-- Layerslider -->
<script src="~/assets/js/layerslider.utils.js"></script>
<script src="~/assets/js/layerslider.transitions.js"></script>
<script src="~/assets/js/layerslider.kreaturamedia.jquery.js"></script>
<!-- Bootstrap -->
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<!-- Date Picker -->
<script src="~/assets/js/jquery.datetimepicker.min.js"></script>
<!-- Filter -->
<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="~/assets/js/isotope.pkgd.min.js"></script>
<!-- Magnific Popup -->
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Jquery UI -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<!-- WOW JS (Animation JS) -->
<script src="~/assets/js/wow.min.js"></script>
<!-- Custom Carousel -->
<script src="~/assets/js/vscustom-carousel.min.js"></script>
<!-- Mobile Menu -->
<script src="~/assets/js/vsmenu.min.js"></script>
<!-- Form Js -->
<script src="~/assets/js/ajax-mail.js"></script>
<!-- Main Js File -->
<script src="~/assets/js/main.js"></script>

<script>
 // <![CDATA[
<-- For SVG support
    if ('WebSocket' in window) {
    (function () {
    function refreshCSS() {
    var sheets=[].slice.call(document.getElementsByTagName("link"));
    var head=document.getElementsByTagName("head")[0];
    for (var i=0; i < sheets.length; ++i) {
                            var elem = sheets[i];
                            var parent = elem.parentElement || head;
                            parent.removeChild(elem);
                            var rel = elem.rel;
                            if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                                var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                                elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                            }
                            parent.appendChild(elem);
                        }
                    }
                    var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
                    var address = protocol + window.location.host + window.location.pathname + '/ws';
                    var socket = new WebSocket(address);
                    socket.onmessage = function (msg) {
                        if (msg.data == 'reload') window.location.reload();
                        else if (msg.data == 'refreshcss') refreshCSS();
                    };
                    if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                        console.log('Live reload enabled.');
                        sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
                    }
                })();
            }
            else {
                console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
            }
                //

</script>


</html>
